    <manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.example.trabalhokotlin">

        <application
            android:allowBackup="true"
            android:label="TrabalhoKotlin"
            android:supportsRtl="true"
            android:theme="@style/Theme.TrabalhoKotlin">

            <activity android:name=".AddActivity" />
            <activity android:name=".DetailActivity" />
            <activity android:name=".MainActivity"
                android:exported="true">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>

        </application>
    </manifest>
